* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 25px;
}

*::selection {
    background-color: #00C4F0;
    color: white;
}

.main{
    width: 1361px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}